.header {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
  margin: 0 auto;
  max-width: 1406px;
  height: 60px;
}

.header__wrap {
  overflow: hidden;
  Position: -webkit-sticky;
  Position: sticky;
  top: 0;
  z-index: 100;
  background-color: #001529;
}